<!DOCTYPE html>
<html layout:decorate="~{layout}">
<body>
	<div class="content-wrapper" layout:fragment="content">
		<section class="content-header">
			<h1>
				模型 <small>列表 <span th:if="${site}" th:text="${site.name}"></span></small>
			</h1>
		</section>
		<section class="content container-fluid">
			<div class="box">
				<div class="box-header">
					<div class="btn-group pull-right">
						<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
							添加至本站 <span class="fa fa-caret-down"></span>
						</button>
						<ul class="dropdown-menu scrollable-menu" role="menu">
							<li th:each="model: ${allModels}" th:if="!${#lists.contains(models, model)}"><a th:href="@{attach(id=${model.id},site_id=${site.id})}" th:text="${model.name}"></a></li>
						</ul>
					</div>
				</div>
				<div class="box-body no-padding">
					<table class="table table-striped table-hover">
						<tbody>
							<tr>
								<th style="width: 24px">#</th>
								<th>ID</th>
								<th>名称</th>
								<th>CODE</th>
								<th>默认</th>
								<th style="text-align: center;width: 80px">操作</th>
							</tr>
							<tr th:each="model, iterStat: ${models}">
								<td th:text="${iterStat.index + 1}"></td>
								<td th:text="${model.id}"></td>
								<td th:text="${model.name}"></td>
								<td th:text="${model.code}"></td>
								<td>
									<i class="fa" th:classappend="${model.primary}?'fa-check text-green':'fa-circle-o text-gray'"></i>
								</td>
								<td>
									<a class="btn btn-xs btn-default" th:href="@{detach(id=${model.id},site_id=${site.id})}">从本站移除</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="box-footer clearfix"></div>
			</div>
		</section>
	</div>
</body>
</html>