<!DOCTYPE html>
<html layout:decorate="~{layout}">
<body>
	<div class="content-wrapper" layout:fragment="content">
		<section class="content-header">
			<h1>
				字段 <small><span th:text="${field.new}?'添加':'修改'"></span> <span th:text="${fieldGroup}?${fieldGroup.name}:${field.fieldGroup.name}"></span></small>
			</h1>
		</section>
		<section class="content container-fluid">
			<div class="box box-primary">
				<form th:action="@{option}" method="POST" role="form">
					<input type="hidden" name="id" th:value="${field.id}"/>
					<input type="hidden" name="group_id" th:value="${fieldGroup}?${fieldGroup.id}:${field.fieldGroup.id}" />
					<input type="hidden" name="option" th:value="${field.option}" />
					<div class="box-body">
						<div class="form-group">
							<label>名称</label>
							<input type="text" class="form-control" name="name" th:value="${field.name}">
						</div>
						<div class="form-group">
							<label>CODE</label>
							<input type="text" class="form-control" name="code" th:value="${field.code}">
						</div>
						<div class="form-group">
							<label>类型</label>
							<select name="type" class="form-control">
								<option th:each="fieldType:${fieldTypes}" th:value="${fieldType.value.type}" th:text="${fieldType.value.name}" th:selected="${field.type==fieldType.value.type}"></option>
							</select>
						</div>
						<div class="form-group">
							<label>优先级</label>
							<input type="text" class="form-control" name="priority" th:value="${field.priority}">
						</div>
					</div>
					<div class="box-footer">
						<button type="submit" class="btn btn-primary">继续</button>
					</div>
				</form>
			</div>
		</section>
	</div>
</body>
</html>